# Python bytecode
__pycache__/
*.py[cod]
*.pyc

# SQLite database files
*.sqlite3

# Virtual environments
venv/
env/
ENV/

# Django stuff
*.log
*.pot
*.mo
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
