{% extends 'base.html' %}
{% block title %}Da Cakery - Product Detail{% endblock %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Product detail</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'shop' %}">Shop</a>
                    <span>{{ product.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__img">
                    <div class="product__details__big__img">
                        <img class="big_img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                    <!-- Optional thumbnails if you have multiple images -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <div class="product__label">{{ product.category.name }}</div>
                    <h4>{{ product.name }}</h4>
                    <h5>रु {{ product.price }}</h5>
                    <p>{{ product.description }}</p>
                    <ul>
                        <li>SKU: <span>{{ product.id }}</span></li>
                        <li>Category: <span>{{ product.category.name }}</span></li>
                        <li>Tags: <span>{{ product.tags }}</span></li>
                    </ul>
                    <div class="product__details__option">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Add to cart</a>
                        {% if user.is_authenticated %}
                    <a href="{% url 'add_to_wishlist' product.slug %}" class="heart__btn" title="Add to Wishlist">
                        <span class="icon_heart_alt"></span>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}" class="heart__btn" title="Login to use Wishlist">
                        <span class="icon_heart_alt"></span>
                    </a>
                {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->

<!-- Related Products Section Begin -->
<section class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="related__products__slider owl-carousel">
                {% for rel in related_products %}
                <div class="col-lg-3">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ rel.image.url }}">
                            <div class="product__label">
                                <span>{{ rel.category.name }}</span>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{% url 'product_detail' slug=rel.slug %}">{{ rel.name }}</a></h6>
                            <div class="product__item__price">रु {{ rel.price }}</div>
                            <div class="cart_add">
                                <a href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Related Products Section End -->
{% endblock %}
